.home-cont{

}

.hplusf{
    margin: 100px 100px 50px 0px;
    width:100%;
    min-width:50%;

}

.featured-div{
    display:flex;
    justify-content: space-around;

}

@media screen and (max-width: 768px) {
    .hplusf {
        margin: 50px;
    }

    .featured-div {
        flex-wrap: wrap;
    }


}
